.input-filter {
  border-radius: 8px;
  background-color: #FFF;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-filter .input-group-text {
  border: none;
  border-radius: 8px !important;
  background-color: #FFF;
}

.input-filter .form-control {
  width: 8rem;
  padding-right: 0;
  padding-left: 0;
}

.input-filter .form-control:focus {
  border-color: #FFF;
  box-shadow: none;
}

.input-filter:focus-within {
  box-shadow: 0 0 0 .25rem rgba(211,212,213,.5);
}