.popup-content {
  border-radius: 0.5rem;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 38px;
  min-width: 200px;
  background-color: #FFF;
  z-index: 10;
}

.list-group .list-group-item:last-of-type  {
  border-radius: 0.5rem;
}